@charset "UTF-8";


iframe{border:none}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header { 
  color: #990000;
  padding: 0em 1em;
  text-align: center;
}
footer{
	margin-top:-3em
}
.navbar-nav{margin:0 auto!important}
nav {
  display: flex!important;
  justify-content: space-around!important;
  background-color: #990000!important;
  padding: 0.5em!important;
  line-height:24px !important;
  align-items: center !important;
}

nav a {
  color: #fff;
  text-decoration: none; font-weight:bold;padding:0.2rem 3rem!important
}
nav a:hover{color: #fff;text-decoration: underline;}



.active{text-decoration: underline;}

.container {max-width:90%}

main {
  padding: 0; margin-bottom:5em;
}

h1{font-size:2em;margin:0.45em 0;font-weight:700;line-height:120%}
h1 span{font-size:90%;line-height:200%}
h3{font-size:1.17em;margin:0.67em 0;font-weight:700;line-height:140%}
h5{font-size:1.2em;margin:0.67em 0;font-weight:700;color: #990000;}
